@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* SPACINGS */

$sp-sm: 5px;
$sp-md: 15px;
$sp-lg: 30px;
$sp-xl: 50px;

$sz-sm: 20px;
$sz-ms: 40px;
$sz-md: 80px;
$sz-lg: 120px;
$sz-xl: 180px;

/* colors */

$primary-btn: purple;
$selected-btn: darken($primary-btn, 5%);

$first-primary: #00d4cb;
$first-secondary: #e7fbfa;

$second-primary: #0f171f;
$second-secondary: #18222e;

$highl: #ff5f00;
$offHig: #baafd7;

/* fonts */

$roboto: 'Roboto',
sans-serif;

$fnt-sm: 15px;
$fnt-md: 22px;
$fnt-lg: 30px;

.primary-btn {
    border: none;
    background-color: $first-primary;
    color: $second-primary;
    cursor: pointer;
    outline: none;
    padding: $sp-sm $sp-md;
    font-size: $fnt-md;
    font-family: $roboto;
    border-radius: 5px;
    box-shadow: 1px 1px 2px $second-primary,
        2px 2px 2px $second-primary,
        3px 3px 3px $second-primary;

    &:active {
        box-shadow: 1px 1px $second-primary;
        outline: none;
        transform: scale(0.98);
    }
}


.primary-inp {
    padding: $sp-sm $sp-md;
    width: 50%;
    color: $highl;
    font-size: $fnt-md;
    font-family: $roboto;

}

.card {
    border: 1px solid $second-primary;
    padding: $sp-sm;
    margin: $sp-sm;
    box-shadow: 4px 4px 4px $first-primary;
    cursor: pointer;
}

.alert {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: $sp-sm;
}

@media only screen and (min-width: 600px) {
    .primary-inp {
        width: $sz-xl;
    }

    .primary-btn {
        font-size: $fnt-lg;
    }

    .alert {
        justify-content: space-evenly;
        font-size: $fnt-lg;
    }
}