@import "./dashboard/Dashoboard";
@import "./dashboard/TextArea";

* {
    margin: 0;
    padding: 0;
    font-family: $roboto;
}

body {
    background-color: $second-secondary;
}

h1 {
    font-size: 20px;
}

ul {
    list-style: none;
}

.main {
    background-color: $first-primary;
    padding: $sp-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}