@import "../Style";

#dashboard {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: $sp-md;
    margin: $sp-sm;
    background-color: $first-secondary;
}

.onlineUsers {
    height: 400px;
    width: 200px;
    border: 1px solid black;
    padding: $sp-sm;

    h1 {
        text-align: center;
    }
}

.userButton {
    width: $sz-lg;
    background-color: $primary-btn;
    padding: $sp-sm;
    border-radius: $sp-sm;
    cursor: pointer;

    &:hover {
        background-color: $selected-btn;
        color: $primary-btn;
    }
}

.brand {
    height: $sz-md;

    img {
        height: 100%;
    }
}